<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUnitLabel" jhiTranslate="ozeradbApp.unit.home.createOrEditLabel">Create or edit a Unit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!unit.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="unit.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ozeradbApp.unit.unitRegion" for="field_unitRegion">Unit Region</label>
            <input type="text" class="form-control" name="unitRegion" id="field_unitRegion"
                [(ngModel)]="unit.unitRegion" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ozeradbApp.unit.unitName" for="field_unitName">Unit Name</label>
            <input type="text" class="form-control" name="unitName" id="field_unitName"
                [(ngModel)]="unit.unitName" required/>
            <div [hidden]="!(editForm.controls.unitName?.dirty && editForm.controls.unitName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.unitName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ozeradbApp.unit.description" for="field_description">Description</label>
            <select class="form-control" id="field_description" name="description" [(ngModel)]="unit.description">
                <option [ngValue]="null"></option>
                <option [ngValue]="unitDescriptionOption.id === unit.description?.id ? unit.description : unitDescriptionOption" *ngFor="let unitDescriptionOption of descriptions; trackBy: trackUnitDescriptionById">{{unitDescriptionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ozeradbApp.unit.researchMethod" for="field_researchMethod">Research Method</label>
            <select class="form-control" id="field_researchMethod" name="researchMethod" [(ngModel)]="unit.researchMethod" >
                <option [ngValue]="null"></option>
                <option [ngValue]="researchMethodOption.id === unit.researchMethod?.id ? unit.researchMethod : researchMethodOption" *ngFor="let researchMethodOption of researchmethods; trackBy: trackResearchMethodById">{{researchMethodOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ozeradbApp.unit.ratingMethod" for="field_ratingMethod">Rating Method</label>
            <select class="form-control" id="field_ratingMethod" name="ratingMethod" [(ngModel)]="unit.ratingMethod" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ratingMethodOption.id === unit.ratingMethod?.id ? unit.ratingMethod : ratingMethodOption" *ngFor="let ratingMethodOption of ratingmethods; trackBy: trackRatingMethodById">{{ratingMethodOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ozeradbApp.unit.typesProblems" for="field_typesProblems">Types Problems</label>
            <select class="form-control" id="field_typesProblems" name="typesProblems" [(ngModel)]="unit.typesProblems" >
                <option [ngValue]="null"></option>
                <option [ngValue]="typesProblemsOption.id === unit.typesProblems?.id ? unit.typesProblems : typesProblemsOption" *ngFor="let typesProblemsOption of typesproblems; trackBy: trackTypesProblemsById">{{typesProblemsOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
