<div>
    <h2>
        <span jhiTranslate="ozeradbApp.unit.home.title">Units</span>
        <button class="btn btn-primary float-right jh-create-entity create-unit" [routerLink]="['/', { outlets: { popup: ['unit-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ozeradbApp.unit.home.createLabel">
            Create new Unit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="units">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ozeradbApp.unit.unitRegion">Unit Region</span></th>
            <th><span jhiTranslate="ozeradbApp.unit.unitName">Unit Name</span></th>
            <th><span jhiTranslate="ozeradbApp.unit.description">Description</span></th>
            <th><span jhiTranslate="ozeradbApp.unit.researchMethod">Research Method</span></th>
            <th><span jhiTranslate="ozeradbApp.unit.ratingMethod">Rating Method</span></th>
            <th><span jhiTranslate="ozeradbApp.unit.typesProblems">Types Problems</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let unit of units ;trackBy: trackId">
                <td><a [routerLink]="['../unit', unit.id ]">{{unit.id}}</a></td>
                <td>{{unit.unitRegion}}</td>
                <td>{{unit.unitName}}</td>
                <td>
                    <div *ngIf="unit.description">
                        <a [routerLink]="['../unit-description', unit.description?.id ]" >{{unit.description?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="unit.researchMethod">
                        <a [routerLink]="['../research-method', unit.researchMethod?.id ]" >{{unit.researchMethod?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="unit.ratingMethod">
                        <a [routerLink]="['../rating-method', unit.ratingMethod?.id ]" >{{unit.ratingMethod?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="unit.typesProblems">
                        <a [routerLink]="['../types-problems', unit.typesProblems?.id ]" >{{unit.typesProblems?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../unit', unit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'unit/'+ unit.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'unit/'+ unit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
