<div>
    <h2><span >Описание</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="col">
            <div class="row">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-primary" id="dropdownBasic2" ngbDropdownToggle>Области</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">

                        <button  class="dropdown-item" *ngFor="let reg of regions;    let i =index;" (click)="onClickRegion(reg.Name)"  >
                            {{reg.Name}}
                        </button>
                    </div>
                </div>
            </div>
            <span class="d-inline-block text-truncate"  style="max-width: 300px; font-weight: 700;text-align: center;"  >
            {{regionName}}
    </span>
        </div>
        <div class="w-100"><br>
        </div>
        <div class="col">
            <div class="row">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle [disabled]="btnState" >Объекты</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1"   >
                        <div *ngFor="let u of units;    let i =index;">
                             <div *ngIf="u.unitRegion==regionName">
                                <button  class="dropdown-item"  (click)="onClickMe(u.id)" >
                                    {{u.unitName}}
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <span class="d-inline-block text-truncate"  style="max-width: 150px; font-weight: 600;"  >
            {{unName}}
    </span>
        </div>



    <div class="table-responsive" *ngIf="unitDescriptions">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>Населенный пункт</span></th>
                <th><span >Год постройки</span></th>
                <th><span >Площадь,га</span></th>
                <th><span > Коллектора,к-во/диаметр,мм </span></th>
                <th><span >Пр-сть, м3/смену</span></th>
                <th><span >Сброс очищеных вод</span></th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{unName}}</td>
                <td>{{createYear}}</td>
                <td>{{square}}</td>
                <td>{{collectors}}</td>
                <td>{{prst}}</td>
                <td>{{sbros}}</td>


            </tr>
            </tbody>
        </table>
    </div>

</div>
</div>
