<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTypesProblemsLabel" jhiTranslate="ozeradbApp.typesProblems.home.createOrEditLabel">Create or edit a Types Problems</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!typesProblems.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="typesProblems.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ozeradbApp.typesProblems.problemDocument" for="field_problemDocument">Problem Document</label>
            <div>
                <div *ngIf="typesProblems.problemDocument" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(typesProblems.problemDocumentContentType, typesProblems.problemDocument)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{typesProblems.problemDocumentContentType}}, {{byteSize(typesProblems.problemDocument)}}</span>
                    <button type="button" (click)="typesProblems.problemDocument=null;typesProblems.problemDocumentContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_problemDocument" (change)="setFileData($event, typesProblems, 'problemDocument', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="problemDocument" id="field_problemDocument"
                [(ngModel)]="typesProblems.problemDocument" />
            <input type="hidden" class="form-control" name="problemDocumentContentType" id="field_problemDocumentContentType"
                [(ngModel)]="typesProblems.problemDocumentContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
