<div>
    <h2><span >Методика оценки поражающих факторов</span></h2>
    <hr>

    <div class="col">
        <div class="row">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-primary" id="dropdownBasic2" ngbDropdownToggle>Области</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">

                    <button  class="dropdown-item" *ngFor="let reg of regions;    let i =index;" (click)="onClickRegion(reg.Name)"  >
                        {{reg.Name}}
                    </button>
                </div>
            </div>
        </div>
        <span class="d-inline-block text-truncate"  style="max-width: 300px; font-weight: 700;text-align: center;"  >
            {{regionName}}
    </span>
    </div>
    <div class="w-100"><br>
    </div>
    <div class="col">
        <div class="row">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle [disabled]="btnState" >Объекты</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1"   >
                    <div *ngFor="let u of units;    let i =index;">
                        <div *ngIf="u.unitRegion==regionName">
                            <button  class="dropdown-item"  (click)="onClickMe(u.id)" >
                                {{u.unitName}}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <span class="d-inline-block text-truncate"  style="max-width: 150px; font-weight: 600;"  >
            {{unName}}
    </span>
    </div>

</div>
    <div *ngFor="let fm of  ratingMethods ; let ind =index;">
        <div *ngIf="fm.id==uResearchId">
            <pdf-viewer
                [src]="'data:' + fm.ratingDocumentContentType + ';base64,' + fm.ratingDocument"
                [render-text]="true"
                [page]="page"
                [show-all]="true"
                style="display: block;"
            ></pdf-viewer>
        </div>
    </div>
 <!--   <div *ngFor="let r of researchmethods ; let ind =index;">
        <div *ngIf="r.id==uFactorId">
            <pdf-viewer
                [src]="'data:' +r.fileContentType +';base64,' +r.file "
                [render-text]="true"
                [page]="page"
                [show-all]="true"
                style="display: block;"
            ></pdf-viewer>
        </div>
    </div> -->

</div>
