<div>
    <h2><span >Техническое состояние</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>

    <div class="row">
        <div class="col">
            <div class="row">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-primary" id="dropdownBasic2" ngbDropdownToggle>Области</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">

                        <button  class="dropdown-item" *ngFor="let reg of regions;    let i =index;" (click)="onClickRegion(reg.Name)"  >
                            {{reg.Name}}
                        </button>
                    </div>
                </div>
            </div>
            <span class="d-inline-block text-truncate"  style="max-width: 300px; font-weight: 700;text-align: center;"  >
            {{regionName}}
    </span>
        </div>
        <div class="w-100"><br>
        </div>
        <div class="col">
            <div class="row">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle [disabled]="btnState" >Объекты</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1"   >
                        <div *ngFor="let u of units;    let i =index;">
                            <div *ngIf="u.unitRegion==regionName">
                                <button  class="dropdown-item"  (click)="onClickMe(u.id)" >
                                    {{u.unitName}}
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <span class="d-inline-block text-truncate"  style="max-width: 150px; font-weight: 600;"  >
            {{unName}}
    </span>
        </div>
</div>

        <div class="carousel-inner" *ngFor="let image of images ; let i =index;"   >
            <div class="carousel-item active" *ngIf="image.unit.id==unId" style="width: 600px; height: 600px;  align-items: center;"  ><!--style="width: 600px; height: 600px;  align-items: center;" -->

                <img class="d-block w-100"  [src]="'data:' + image.imageContentType + ';base64,' + image.image" alt="slide" >
                <br>
                <hr>
                <br>
            </div>
        </div>



</div>
